<tr class="service">
  <td><%= link_to service.id, admin_service_path(service) %></td>
  <td><%= service.title %></td>
  <td><%=l service.created_at %></td>
  <td>
    <%= link_to t("helpers.links.view"),
                admin_service_path(service), :class => 'btn btn-mini' %>
    <%= link_to t("helpers.links.edit"),
                edit_admin_service_path(service), :class => 'btn btn-info btn-mini' %>
    <%= link_to t("helpers.links.destroy"),
                admin_service_path(service), method: :delete, confirm: t('helpers.links.confirm'), :class => 'btn btn-danger btn-mini' %>
  </td>
</tr>
