<%= provide :breadcrumb do %>
    <li><%= link_to t('admin.services'), admin_services_path %><span class="divider">/</span></li>
    <li class="active"><%= t('services.new.title')  %></li>
<% end %>
<div class="page-header">
  <h2><%=t 'services.new.title' %></h2>
</div>
<%= render :partial => 'form' %>
