<tr class="equipment">
  <td><%= link_to equipment.id, admin_equipment_path(equipment) %></td>
  <td><%= equipment.title %></td>
  <td><%=l equipment.created_at %></td>
  <td>
    <%= link_to t("helpers.links.view"),
                admin_equipment_path(equipment), :class => 'btn btn-mini' %>
    <%= link_to t("helpers.links.edit"),
                edit_admin_equipment_path(equipment), :class => 'btn btn-info btn-mini' %>
    <%= link_to t("helpers.links.destroy"),
                admin_equipment_path(equipment), method: :delete, confirm: t('helpers.links.confirm'), :class => 'btn btn-danger btn-mini' %>
  </td>
</tr>
