<%= provide :breadcrumb do %>
    <li><%= link_to t('admin.equipments'), admin_equipment_index_path %><span class="divider">/</span></li>
    <li class="active"><%= t('equipments.edit.title') + ": #{@equipment.title} " %></li>
<% end %>
<div class="page-header">
  <h2><%= t('equipments.edit.title') + ": #{@equipment.title} " %></h2>
</div>
<%= render :partial => 'form' %>
