<%= form_for [:admin,@banner], :html => { :class => 'form-horizontal' } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="control-group">
      <%= image_tag @banner.cover.url(:thumb) unless f.object.new_record? %>
      <%= f.label :cover, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :cover, :class => 'file_field' %>
        <span class="help-block"><%= t("helpers.size", size: "944x238 pixels") %></span>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit :class => 'btn btn-primary' %>
      <%= link_to t("helpers.links.cancel"),
                  admin_banners_path, :class => 'btn' %>
    </div>
<% end %>

