<h3>Novo Contato: Araguaia - Serviços Hidrométricos - Laboratório de Hidrossedimentometria" : "Araguaia - Serviços Hidrométricos - Laboratório de Hidrossedimentometria</h3>

<dl class="dl-horizontal">
  <dt><strong><%= t("labels.contact.name") %>:</strong></dt>
  <dd><%= @contact.name %></dd>
  <dt><strong><%= t("labels.contact.email") %>:</strong></dt>
  <dd><%= @contact.email %></dd>
  <dt><strong><%= t("labels.contact.phone") %>:</strong></dt>
  <dd><%= @contact.phone %></dd>
  <dt><strong><%= t("labels.contact.subject") %>:</strong></dt>
  <dd><%= @contact.subject %></dd>
  <dt><strong><%= t("labels.contact.body") %>:</strong></dt>
  <dd><%= @contact.body %></dd>
</dl>