<%= provide :breadcrumb do %>
    <li><%= link_to t('admin.companies'), admin_jobs_path %><span class="divider">/</span></li>
    <li class="active"><%= t('companies.edit.title') + ": #{@company.title} " %></li>
<% end %>
<div class="page-header">
  <h2><%= t('companies.edit.title') + ": #{@company.title} " %></h2>
</div>
<%= render :partial => 'form' %>
