<nav class="navegacao-principal">
  <ul>
    <li><%= link_to t("main-menu.home"), root_path, class: (actual_page == 'home' ?  "onde-estou" : ''), title: t("seo.titles.back-home") %></li>
    <li><%= link_to t("main-menu.company"), company_path, class: (actual_page == 'company' ?  "onde-estou" : ''), title: t("seo.titles.company") %></li>
    <li><%= link_to t("main-menu.services"), services_path, class: (actual_page == 'services' ?  "onde-estou" : ''), title: t("seo.titles.services") %></li>
    <li><%= link_to t("main-menu.equipment"), equipments_path, class: (actual_page == 'equipment' ?  "onde-estou" : ''), title: t("seo.titles.equipment") %></li>
    <li><%= link_to t("main-menu.laboratory"), laboratory_path, class: (actual_page == 'laboratory' ?  "onde-estou" : ''), title: t("seo.titles.laboratory") %></li>
    <li><%= link_to t("main-menu.jobs"), jobs_path, class: (actual_page == 'jobs' ?  "onde-estou" : ''), title: t("seo.titles.jobs") %></li>
    <li><%= link_to t("main-menu.reports"), reports_path, class: (actual_page == 'reports' ?  "onde-estou" : ''), title: t("seo.titles.reports") %></li>
    <li><%= link_to t("main-menu.contact"), contact_path, class: (actual_page == 'contact' ?  "onde-estou" : ''), title: t("seo.titles.contact") %></li>
  </ul>
</nav><!-- fim .navegacao-principal -->