<%= provide(:title,  t('admin.jobs')) %>
<%= provide :breadcrumb do %>
    <li class="active"><%= t('admin.jobs') %></li>
<% end %>
<%= provide :sidebar do %>
    <%=  form_for [:admin,@search] do |f| %>
        <li class="nav-header"><%= f.label :title, t('activerecord.attributes.job.title') %></li>
        <li><%= f.text_field :title_contains %></li>
        <hr/>
        <li class="nav-header"><%=t 'helpers.order'  %></li>
        <%= f.sort_link :id %> |
        <%= f.sort_link :title %> |
        <%= f.sort_link :created_at, t('helpers.created_at') %>
        <hr/>
        <%= f.submit t('helpers.links.search'), class: 'btn btn-primary' %> <%= link_to t('helpers.links.cancel'), admin_jobs_path, class: 'btn' %>
    <% end %>
<% end %>
<div class="page-header">
  <h2><%=  t('admin.jobs') %></h2>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th><%= t_field('job','title') %></th>
    <th><%= t('helpers.created_at') %></th>
    <th><%=t 'helpers.actions' %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @jobs %>
  </tbody>
</table>
<%= will_paginate @jobs %>
<%= link_to t("helpers.links.new"),
            new_admin_job_path,
            :class => 'btn btn-primary' %>
