<tr class="report">
  <td><%= link_to report.id, admin_report_path(report) %></td>
  <td><%= report.title %></td>
  <td><%= report.user.name %></td>
  <td><%=l report.report_date unless report.report_date.nil? %></td>
  <td><%=l report.created_at %></td>
  <td>
    <%= link_to t("helpers.links.view"),
                admin_report_path(report), :class => 'btn btn-mini' %>
    <%= link_to t("helpers.links.edit"),
                edit_admin_report_path(report), :class => 'btn btn-info btn-mini' %>
    <%= link_to t("helpers.links.destroy"),
                edit_admin_report_path(report), method: :delete, confirm: t('helpers.links.confirm'), :class => 'btn btn-danger btn-mini' %>
  </td>
</tr>
