<%= provide(:title,  t('admin.reports')) %>
<%= provide :breadcrumb do %>
    <li class="active"><%= t('admin.reports') %></li>
<% end %>
<%= provide :sidebar do %>
    <%=  form_for [:admin,@search] do |f| %>
        <li class="nav-header"><%= f.label :title, t('activerecord.attributes.report.title') %></li>
        <li><%= f.text_field :title_contains %></li>
        <li class="nav-header"><%= f.label :user_name, (t('activerecord.models.user') + t('activerecord.attributes.user.name')) %></li>
        <li><%= f.text_field :user_name_contains %></li>
        <hr/>
        <li class="nav-header"><%=t 'helpers.order'  %></li>
        <%= f.sort_link :id %> |
        <%= f.sort_link :title %> |
        <%= f.sort_link :user_name %> |
        <%= f.sort_link :report_date %> |
        <%= f.sort_link :created_at, t('helpers.created_at') %>
        <hr/>
        <%= f.submit t('helpers.links.search'), class: 'btn btn-primary' %> <%= link_to t('helpers.links.cancel'), admin_reports_path, class: 'btn' %>
    <% end %>
<% end %>
<div class="page-header">
  <h2><%=  t('admin.reports') %></h2>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th><%= t_field('report','title') %></th>
    <th><%= (t('activerecord.models.user') + t('activerecord.attributes.user.name')) %></th>
    <th><%= t_field('report','report_date') %></th>
    <th><%= t('helpers.created_at') %></th>
    <th><%=t 'helpers.actions' %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @reports %>
  </tbody>
</table>
<%= will_paginate @reports %>
<%= link_to t("helpers.links.new"),
            new_admin_report_path,
            :class => 'btn btn-primary' %>
