<%= provide :breadcrumb do %>
    <li><%= link_to t('admin.reports'), admin_reports_path %><span class="divider">/</span></li>
    <li class="active"><%= t('reports.new.title')  %></li>
<% end %>
<div class="page-header">
  <h2><%=t 'reports.new.title' %></h2>
</div>
<%= render :partial => 'form' %>
