<tr class="laboratory_item">
  <td><%= link_to laboratory_item.id, admin_laboratory_item_path(laboratory_item) %></td>
  <td><%= laboratory_item.title %></td>
  <td><%=l laboratory_item.created_at %></td>
  <td>
    <%= link_to t("helpers.links.view"),
                admin_laboratory_item_path(laboratory_item), :class => 'btn btn-mini' %>
    <%= link_to t("helpers.links.edit"),
                edit_admin_laboratory_item_path(laboratory_item), :class => 'btn btn-info btn-mini' %>
    <%= link_to t("helpers.links.destroy"),
                edit_admin_laboratory_item_path(laboratory_item), method: :delete, confirm: t('helpers.links.confirm'), :class => 'btn btn-danger btn-mini' %>
  </td>
</tr>
